
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  background-color: #EAF6F6;
}

h1 {
  font-size: 5.625rem;
  margin: 50 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px;
}

.job {
  background-color: #9ED5C5;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.programming-img {
  width: 25%;
  height: 23rem;
  float: left;
  margin-right: 50px;
}

.programming {
  float:inherit;
}

.middle-container {
  marin: 100px 0;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 40%;
  margin: 100px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 40px auto 60px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
